* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #222; /* Color de fondo oscuro */
  color: #fff; /* Color del texto */
}

.App {
  flex-direction: column;
  align-items: center;
}

.App-header {
  /* border: solid rebeccapurple; */
  width: 100%; /* Ancho total */  
  background-color: rgba(34, 34, 34, 0.9); /* Fondo semitransparente */
  margin: 0 auto;
  position: relative;
  padding: 35px;
}
div{
  text-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14;

}
.logo a {
  /* border: solid red; */
  width: 80%;
  font-size: 2.7em;
  margin: 0 -62px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
/* display: flex; justify-content: center; width: 100%; */
.contenedor-header {
  border: solid palegreen;
  box-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14;
  margin-left: 510px;
  width: 60%;
  height: 28px;
  text-align: center;
  font-size: 18px;
}

#menu {
  display: flex;
  list-style: none; /* Sin viñetas */
  justify-content: center; /* Centrado */
}

#menu li {
  margin: 0 20px; /* Espacio entre los elementos del menú */
}

#menu a {
  color: #fff; /* Color del texto del menú */
  text-decoration: none; /* Sin subrayado */
  font-size: 1.1em; /* Tamaño del texto del menú */
  transition: color 0.3s; /* Transición suave para el color */
}

#menu a:hover {
  color: #39ff14; /* Color al pasar el mouse */
}

.nav-responsive {
  display: none; /* Ocultar por defecto */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .nav-responsive {
      display: block; /* Mostrar icono de menú en pantallas pequeñas */
      font-size: 1.5em; /* Tamaño del icono */
      text-align: center; /* Centrado */
  }

  #menu {
      display: none; /* Ocultar el menú en pantallas pequeñas */
      flex-direction: column; /* Vertical */
      position: absolute; /* Para que se superponga */
      top: 60px; /* Asegura que no se superponga al encabezado */
      left: 0;
      right: 0;
      background-color: rgba(34, 34, 34, 0.9);
      padding: 20px 0;
  }

  #menu.active {
      display: flex; /* Mostrar menú cuando está activo */
  }
} 

